<main class="row">
  <section class="col col-sm-3">
    <h2 class="h5">Bookmarks</h2>
  </section>

  <section class="col">
    <h1 class="h5">Search shows</h1>

    <div class="input-group mb-3">
      <input type="search" [(ngModel)]="query" class="form-control">
      <div class="input-group-append">
        <button (click)="search(query)" class="btn btn-outline-primary">Find</button>
      </div>
    </div>

    <div class="row">
      <div class="col col-4" *ngFor="let show of shows">
        <tm-poster [show]="show"></tm-poster>
      </div>
    </div>
  </section>
</main>

<!--<audio #audioRef src="http://www.hochmuth.com/mp3/Tchaikovsky_Rococo_Var_orch.mp3"></audio>-->
<!--<button (click)="audioRef.play()">▶️</button>-->
<!--<button (click)="audioRef.pause()">⏸</button>-->
