<main class="row">
  <section class="col col-sm-3">
    <h2 class="h5">Bookmarks</h2>

    <div class="row">
      <tm-poster class="col col-6"
                 *ngFor="let show of bookmarks"
                 [show]="show">
      </tm-poster>
    </div>
  </section>

  <section class="col">
    <h1 class="h5">Search shows</h1>

    <form class="input-group mb-3">
      <input name="query" type="search" [(ngModel)]="query" class="form-control">
      <div class="input-group-append">
        <button (click)="search(query)" class="btn btn-outline-primary">Find</button>
      </div>
    </form>

    <div class="row">
      <div class="col col-4" *ngFor="let show of shows">
        <tm-poster [show]="show"></tm-poster>
        <button (click)="saveBookmark(show)"
                [disabled]="isBookmarked(show)"
                class="btn btn-sm btn-primary">add
        </button>
      </div>
    </div>
  </section>
</main>

<!--<audio #audioRef src="http://www.hochmuth.com/mp3/Tchaikovsky_Rococo_Var_orch.mp3"></audio>-->
<!--<button (click)="audioRef.play()">▶️</button>-->
<!--<button (click)="audioRef.pause()">⏸</button>-->
